<%= form_for @event, html: { role: 'form' } do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.text_field :date, data:{ provide:'datepicker' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.text_field :start_time, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <%= form.text_field :end_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <%= form.label "Invite your friends" %>
  <div class="friends">
    <% @friends.each_with_index do |friend, index|  %>
      <div class="friend" id="friend-<%= index %>">
        <%= image_tag friend.avatar , height: '100px', alt: friend.username %>
        <p><%= friend.username %></p>
      </div>
    <% end %>
  </div>

  <div class="clearfix"></div>

  <br />
  <br />

  <div class="">
    <%= form.submit "Create Event!", class: 'btn btn-primary btn-block' %>
  </div>

<% end %>


<script>
  $( function() {
    $( "#event_date" ).datepicker();
  } );

  $('.friend').click(function() {
    $('#' + this.id).toggleClass('invite-friend')
  });
</script>
