<!DOCTYPE html>
<html>
  <head>
    <title>PlaySpace</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee|Caveat|Chewy|Indie+Flower|Shadows+Into+Light+Two" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 col-xs-12">
              <%= image_tag("playspace-logo.png", height: '100px', class: 'navbar-brand')%>
            </div>
            <div class="col-md-8 hidden-xs">
            </div>
            <% if current_user && current_user.avatar.present?%>
            <div class="col-md-1 col-xs-12">
              <%= link_to( image_tag(current_user.avatar, width: '50px'), edit_user_registration_url) %>
            </div>
            <div class="col-md-1 col-xs-12">
              <%= link_to "Sign Out", destroy_user_session_url, method: :delete, class: 'btn yellow-btn bold-btn navb-button' %>
            </div>
            <% elsif current_user %>
              <div class="col-md-1 col-xs-12">
                <%= link_to "Account", edit_user_registration_url, class: 'btn yellow-btn bold-btn navb-button' %>
              </div>
              <div class="col-md-1 col-xs-12">
                <%= link_to "Sign Out", destroy_user_session_url, method: :delete, class: 'btn yellow-btn bold-btn navb-button' %>
              </div>
            <% else %>
              <div class="col-md-1 col-xs-12">
                <%= link_to "Join Us", new_user_registration_url, class: 'btn yellow-btn bold-btn navb-button' %>
              </div>
              <div class="col-md-1 col-xs-12">
                <%= link_to "Sign In", new_user_session_url, class: 'btn yellow-btn bold-btn navb-button' %>
              </div>
            <% end %>
          </div>
      </div>
    </nav>
    <div class="container">
      <% if notice.present? %>
        <div class="panel panel-success">
          <div class="panel-heading">
            Notice
          </div>
          <div class="panel-body">
            <%= notice %>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            Notice
          </div>
          <div class="panel-body">
            <%= alert %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p>some text here</p>
      </div>
    </footer>
  </body>
</html>
