<!DOCTYPE html>
<html>
  <head>
    <title>PlaySpace</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee|Caveat|Chewy|Indie+Flower|Shadows+Into+Light+Two" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  </head>

  <body>

    <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= image_tag 'playspace-logo.png', height: '50px' %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to 'Calendar', calendar_path, class: 'btn yellow-btn bold-btn navb-button'  %></li>
            <li><%= link_to 'Account', edit_user_registration_path, class: 'btn yellow-btn bold-btn navb-button'  %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn yellow-btn bold-btn navb-button' %></li>
          <% else %>
            <li><%= link_to 'Create An Account', new_user_registration_path, class: 'btn yellow-btn bold-btn navb-button'  %></li>
            <li><%= link_to 'Sign In', new_user_session_path, class: 'btn yellow-btn bold-btn navb-button'  %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


    <div class="container">
      <% if notice.present? %>
        <div class="panel panel-success">
          <div class="panel-heading">
            Notice
          </div>
          <div class="panel-body">
            <%= notice %>
          </div>
        </div>
      <% end %>
      <% if alert %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            Notice
          </div>
          <div class="panel-body">
            <%= alert %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p>some text here</p>
      </div>
    </footer>
  </body>
</html>
